.board-card {
  margin-bottom: 16px;
}

.view-toggle {
  margin-bottom: 16px;
}

.mat-list-item h4, .mat-list-item p {
  margin: 0;
}

.mat-card-title, .mat-card-subtitle {
  margin: 0;
}

.my-3 {
  margin: 16px 0;
}

.mb-2 {
  margin-bottom: 8px;
}